<section class="character"> 
  <div class="container">  
    <div class="character-filter-container">

      <div>
        <h2 class="character-title">Name</h2>
        <div class="character-search-box">
          <input type="text" class="character-input" placeholder="Enter name">
          <button class="character-search-btn"></button>
        </div>
      </div>

      <div>
        <h2 class="character-title">Status</h2>
        <select data-filter="status">
          <option>All</option>
          <option>Alive</option>
          <option>Dead</option>
          <option>Unknown</option>
        </select>
      </div>

      <div>
        <h2 class="character-title">Species</h2>
        <select data-filter="species">
          <option>All</option>
          <option>Human</option>
          <option>Alien</option>
          <option>Mythological Creature</option>
          <option>Humanoid</option>
          <option>Cronenberg</option>
          <option>Poopybutthole</option>
          <option>Robot</option>
          <option>Disease</option>
        </select>
      </div>

      <div>
        <h2 class="character-title">Type</h2>
        <select data-filter="type">
          <option>All</option>
          <option>Parasite</option>
          <option>Human with ant...</option>
          <option>Superhuman</option>
          <option>Genetic...</option>
          <option>Fish-Person</option>
          <option>Cromulon</option>
        </select>
      </div>

      <div>
        <h2 class="character-title">Gender</h2>
        <select data-filter="gender">
          <option>All</option>
          <option>Male</option>
          <option>Female</option>
          <option>Genderless</option>
          <option>Unknown</option>
        </select>
      </div>

    </div>

    <ul class="character-list"></ul>
    <button type="button" class="character-load-more">Load more</button>
  </div>
</section>
