<section class="hero">
    <div class="hero-container container">
        <div class="hero-text-div">
                <h1 class="hero-title">Characters</h1>
                <p class="hero-text">Our character bios provide detailed information
                    on every member of the Smith family and beyond.  
                    Get to know these unforgettable characters on a whole new level 
                    - start exploring now!</p>
                <a class="hero-button" href="./index.html">Back home</a>
        </div>
        <div class="hero-image-div">
                <picture class="hero-image">
                    <img class="hero-image" src="./img/characters-hero.png" />
                </picture>
        </div>
    </div>
</section>