<section class="hero">
  <div class="hero-container container">
    <div class="hero-content">
      <h1 class="hero-heading">Characters</h1>
      <p class="hero-description">
        Our character bios provide detailed information on every member of the
        Smith family and beyond. Get to know these unforgettable characters on a
        whole new level – start exploring now!
      </p>
      <a class="hero-btn" href="./index.html">Back home</a>
    </div>
    <div class="hero-media">
      <picture class="hero-picture">
        <img class="hero-img" src="./img/characters-hero.png" alt="character-main-photo"/>
      </picture>
    </div>
  </div>
</section>

