<div class="backdrop hidden">
  <div class="modal">
    <div class="modal-character-div">
      <div class="modal-image"></div>
      <div class="modal-info">
        <ul class="modal-info-list">
          <li class="modal-info-item">
            <p class="modal-info-text">Status</p>
            <p class="modal-info-info">Alive</p>
          </li>
          <li class="modal-info-item">
            <p class="modal-info-text">Species</p>
            <p class="modal-info-info">Human</p>
          </li>
          <li class="modal-info-item">
            <p class="modal-info-text">Gender</p>
            <p class="modal-info-info">Male</p>
          </li>
          <li class="modal-info-item">
            <p class="modal-info-text">Origin</p>
            <p class="modal-info-info">Earth</p>
          </li>
          <li class="modal-info-item">
            <p class="modal-info-text">Location</p>
            <p class="modal-info-info">Australia</p>
          </li>
          <li class="modal-info-item">
            <p class="modal-info-text">Episodes</p>
            <p class="modal-info-info">1,2,3,4</p>
          </li>
          <li class="modal-info-item">
            <p class="modal-info-text">Type</p>
            <p class="modal-info-info">Human</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-episodes-div">
      <h2 class="modal-title">Episodes</h2>
      <ul class="modal-episodes-list">
        <li class="modal-episodes-item">
          <h3 class="modal-episode-title"></h3>
          <div class="modal-episode-season">
            <p class="modal-episode-text">Season</p>
            <p class="modal-episode-info"></p>
          </div>
          <div class="modal-episode-airdate">
            <p class="modal-episode-text">Air date</p>
            <p class="modal-episode-info"></p>
          </div>
        </li>
        <li class="modal-episodes-item">
          <h3 class="modal-episode-title"></h3>
          <div class="modal-episode-season">
            <p class="modal-episode-text">Season</p>
            <p class="modal-episode-info"></p>
          </div>
          <div class="modal-episode-airdate">
            <p class="modal-episode-text">Air date</p>
            <p class="modal-episode-info"></p>
          </div>
        </li>
        <li class="modal-episodes-item">
          <h3 class="modal-episode-title"></h3>
          <div class="modal-episode-season">
            <p class="modal-episode-text">Season</p>
            <p class="modal-episode-info"></p>
          </div>
          <div class="modal-episode-airdate">
            <p class="modal-episode-text">Air date</p>
            <p class="modal-episode-info"></p>
          </div>
        </li>
        <li class="modal-episodes-item">
          <h3 class="modal-episode-title"></h3>
          <div class="modal-episode-season">
            <p class="modal-episode-text">Season</p>
            <p class="modal-episode-info"></p>
          </div>
          <div class="modal-episode-airdate">
            <p class="modal-episode-text">Air date</p>
            <p class="modal-episode-info"></p>
          </div>
        </li>
        <li class="modal-episodes-item">
          <h3 class="modal-episode-title"></h3>
          <div class="modal-episode-season">
            <p class="modal-episode-text">Season</p>
            <p class="modal-episode-info"></p>
          </div>
          <div class="modal-episode-airdate">
            <p class="modal-episode-text">Air date</p>
            <p class="modal-episode-info"></p>
          </div>
        </li>
      </ul>
    </div>
    <button class="modal-close" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        viewBox="0 0 22 22"
        fill="none"
      >
        <path
          d="M16.5 5.5L5.5 16.5"
          stroke="#A1D737"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M5.5 5.5L16.5 16.5"
          stroke="#A1D737"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</div>
