<section class="char-popup">
  <div class="container popup-container">
    <form class="pop-up-form">
      <span class="pop-up-stat">
        <p class="grey-text">Status<span class="white-text"> Alive</span></p>
        <p class="grey-text">Species<span class="white-text"> Human</span></p>
        <p class="grey-text">Gender<span class="white-text"> Male</span></p>
        <p class="grey-text">Origin<span class="white-text"> Earth</span></p>
        <p class="grey-text">
          Location<span class="white-text"> Jerryboree</span>
        </p>
        <p class="grey-text">Type<span class="white-text"> Human</span></p>
      </span>
      <span class="pop-up-episodes">
        <div class="pop-up-div">
          <div class="div-epis">
            <p class="pop-up-name">Pilot</p>
           <p class="pop-up-seasone">Seasone <span class="seasone-white">  1</span></p>
           <p class="pop-up-date">Air date <span class="date-white">  December 2, 2013</span></p>  
          </div>
          <div class="div-epis">
            <p class="pop-up-name">Lawnmower Dog</p>
              <p class="pop-up-seasone">Seasone <span class="seasone-white">  1</span></p>
                       <p class="pop-up-date">Air date <span class="date-white">  December 9, 2013</span></p>  
          </div>
          <div class="div-epis">
            <p class="pop-up-name">Anatomy Park</p>
             <p class="pop-up-seasone">Seasone <span class="seasone-white">  1</span></p>
                      <p class="pop-up-date">Air date <span class="date-white">  December 16, 2013</span></p>  
          </div>
          <div class="div-epis">
            <p class="pop-up-name">M. Night Shaym-Aliens</p>
             <p class="pop-up-seasone">Seasone <span class="seasone-white">  1</span></p>
                      <p class="pop-up-date">Air date <span class="date-white">  January 13, 2014</span></p>  
          </div>
          <div class="div-epis">
            <p class="pop-up-name">Meeseeks and Destroy</p>
             <p class="pop-up-seasone">Seasone <span class="seasone-white">  1</span></p>
                      <p class="pop-up-date">Air date <span class="date-white">  January 20, 2014</span></p>  
          </div>
        </div>
      </span>
    </form>
  </div>
</section>
