<div class="popup">
  <div class="backdrop is-hidden" episodes-popup>
    <div class="signup__close" signup-modal-close>
      <svg class="popup-iconclose" width="22" height="22">
        <!-- <use href=""></use> -->
      </svg>
    </div>
    <div class="popup-container">
        <div class="popup-widthcontainer">
      <h2 class="popup-title">Pilot</h2>
      <ul class="popup-minlist">
        <li class="popup-miniteam">
          <h3 class="popup-form">Id</h3>
          <p class="popup-text">000</p>
        </li>
        <li class="popup-miniteam">
          <h3 class="popup-form">Air date</h3>
          <p class="popup-text">December 2, 2013</p>
        </li>
      </ul>
      <h2 class="popup-title">Characters</h2>
      <p class="popup-form popup-minform">Major Characters</p>
      <ul class="popup-list">
        <li class="popup-iteam">
          <img class="popup-img" src="./img/rick-popup.png" alt="" />
          <h4 class="popup-minititle">Rick</h4>
        </li>
        <li class="popup-iteam">
          <img class="popup-img" src="./img/morty-popup.png" alt="" />
          <h4 class="popup-minititle">Morty</h4>
        </li>
        <li class="popup-iteam">
          <img class="popup-img" src="./img/beth-popup.png" alt="" />
          <h4 class="popup-minititle">Beth</h4>
        </li>
        <li class="popup-iteam">
          <img class="popup-img" src="./img/jery-popup.png" alt="" />
          <h4 class="popup-minititle">Jerry</h4>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>
