<section class="hero">
  <div class="hero-text-container">
    <h2 class="hero-title">Episodes</h2>
    <p class="hero-text">
      With a comprehensive guide to every episode, you can relive your favorite
      moments and discover new ones. From the bizarre and hilarious to the
      emotional and thought-provoking, our episode guide covers it all.
    </p>
    <a class="hero-link" href="./index.html">Back home</a>
  </div>
  <div class="hero-img-container">
    <img class="hero-img" src="./img/episodes-hero.png" alt="Rick" />
  </div>
</section>
