<section class="episodes" data-modal-open>
    <div class="container">
    <ul class="episodes-list">
        <li class="episodes-iteam">
            <h3 class="episodes-search-text">Name</h3>
            <input placeholder="Enter name" type="text" class="episodes-search-input">
        </li>
        <li class="episodes-iteam">
            <h3 class="episodes-search-text">Episode code</h3>
            <input placeholder="All season" class="episodes-search-input episodes-search-mini" type="text">
        </li>
    </ul>
    <div class="episodes-minicontainer">
      <div class="episodes-data"></div>
    <button class="episodes-button" type="button">Load more</button>
    </div>
</div>
</section>