.footer{
    padding-top: 69px;
  transition-duration: 250ms;
}

.footer__container{
    display: flex;
justify-content: space-around;
row-gap: 20px;
    height: 107px;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
    justify-content: space-between;
    }
}

.footer__logo{
width: 149px;
    flex-shrink: 0;
      @media screen and (min-width: 768px) {
width: 225px;
      }
}

.footer__list-pages{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__page{
    color: #111;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 18px; 
letter-spacing: 0.16px;
  transition-duration: 250ms;
}

.footer__page:hover{
    color: #a1d737;
      transition-duration: 250ms;
}

.footer__social-list{
    display: flex;
    gap: 32px;
}

.footer__social{
    width: 56px;
height: 56px;
border-radius: 12px;
border: 1px solid #11111126;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
  transition-duration: 250ms;
}

.footer__social:hover{
    border-color: #a1d737;
      transition-duration: 250ms;
}

.footer__social:hover svg{
    fill: #a1d737;
      transition-duration: 250ms;
}

.footer__social-logo{
    width: 24px;
height: 24px;
flex-shrink: 0;
}

.footer__privacy{
    color: rgba(17, 17, 17, 0.40);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
margin-top: 128px;
padding-bottom: 16px;
}

.footer__info-section{
    display: flex;
}

#night {
background: #0D171D;
}

#night-page{
    color: #FAFAFA;
      transition-duration: 250ms;
}

#night-page:hover{
    color: #a1d737;
      transition-duration: 250ms;
}

#night-social{
    border-color: #FAFAFA26;
}
#night-social:hover{
    border-color: #a1d737;
      transition-duration: 250ms;
}
#night-social:hover svg{
    fill: #a1d737;
      transition-duration: 250ms;
}

#night-social-picture{
   fill:#FAFAFA ;
}
#night-privacy{
    color: rgba(250, 250, 250, 0.40);
}