<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/footer.css" />
  </head>
  <footer class="footer" id="footer">
    <div class="container footer__container">
      <img src="./img/footer-logo.png" alt="" class="footer__logo"/>
      <ul class="footer__list-pages">
        <li class="footer__items">
          <a class="footer__page" href="./characters.html"> Characters</a>
        </li>

        <li class="footer__items">
          <a class="footer__page" href="./episodes.html"> Episodes</a>
        </li>
      </ul>
      <ul class="footer__social-list">
        <li class="footer__social">
          <svg class="footer__social-logo">
            <use href="/rick_and_morty_project/img/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </li>
        <li class="footer__social">
          <svg class="footer__social-logo">
            <use href="/rick_and_morty_project/img/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </li>
        <li class="footer__social">
          <svg class="footer__social-logo">
            <use href="/rick_and_morty_project/img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </li>
      </ul>
    </div>
    <p class="footer__privacy">Privacy Policy Public Offering Agreement</p>
  </footer>
</html>
