<footer class="footer night" id="footer">
  <div class="container footer__container">
    <img src="./img/footer-logo.png" alt="" class="footer__logo" />
    <ul class="footer__list-pages">
      <li class="footer__items">
        <a class="footer__page night-page" href="./characters.html" >
          Characters</a
        >
      </li>

      <li class="footer__items">
        <a class="footer__page night-page" href="./episodes.html" id="night-page-episodes">
          Episodes</a
        >
      </li>
    </ul>
    <ul class="footer__social-list">
      <li class="footer__social night-social" >
        <a href="https://www.facebook.com/RickandMorty/">
        <svg class="footer__social-logo night-social-picture" >
          <use href="img/symbol-defs.svg#icon-facebook"></use>
        </svg>
        </a>
      </li>
      <li class="footer__social night-social" >
        <a href="https://x.com/RickandMorty">
        <svg class="footer__social-logo night-social-picture" >
          <use href="img/symbol-defs.svg#icon-twitter"></use>
        </svg>
        </a>
      </li>
      <li class="footer__social night-social" >
        <a href="https://www.instagram.com/rickandmorty/">
        <svg class="footer__social-logo night-social-picture" >
          <use href="img/symbol-defs.svg#icon-instagram"></use>
        </svg>
        </a>
      </li>
    </ul>
  </div>
  <p class="footer__privacy night-privacy" >
    Privacy Policy Public Offering Agreement
  </p>
</footer>
