<footer class="footer" id="night">
  <div class="container footer__container">
    <img src="./img/footer-logo.png" alt="" class="footer__logo" />
    <ul class="footer__list-pages">
      <li class="footer__items">
        <a class="footer__page" href="./characters.html" id="night-page">
          Characters</a
        >
      </li>

      <li class="footer__items">
        <a class="footer__page" href="./episodes.html" id="night-page-episodes">
          Episodes</a
        >
      </li>
    </ul>
    <ul class="footer__social-list">
      <li class="footer__social" id="night-social-one">
        <svg class="footer__social-logo" id="night-social-picture-facebook">
          <use href="./img/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </li>
      <li class="footer__social" id="night-social-two">
        <svg class="footer__social-logo" id="night-social-picture-twitter">
          <use href="./img/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </li>
      <li class="footer__social" id="night-social-three">
        <svg class="footer__social-logo" id="night-social-picture-instagram">
          <use href="./img/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </li>
    </ul>
  </div>
  <p class="footer__privacy" id="night-privacy">
    Privacy Policy Public Offering Agreement
  </p>
</footer>
