<main>
    <section class="hero">
        <div class="container hero__container">
            <img class="hero__image" src="../src/img/hero-home.png" alt="">
            <img class="hero__logo" src="../src/img/logo.png" alt="">
            <p class="hero__text">If you're a fan of Rick and Morty, you don't want to miss out on our app! Start
                exploring
                the endless possibilities of Rick and Morty!</p>
        </div>
    </section>
    <section class="about">
        <div class="about__box">
            <img class="about__first" src="../src/img/tags-about-us.png" alt="">
            <img class="about__second" src="../src/img/tags-about-us.png" alt="">
        </div>
    </section>

    <section class="main">
        <div class="container main__container">
            <h2 class="main__title"><span class="main__span">Main</span> characters</h2>
            <div class="main__box">
                <picture>
                    <source srcset="./img/Rick.png" media="(min-width: 1200px)">
                    <source srcset="./img/Rick-retina.png" media="(min-width: 768px)">
                    <img class="main__character activ" src="./img/Rick.png" alt="Rick Sanchez">
                </picture>

                <picture>
                    <source srcset="./img/Morty.png" media="(min-width: 1200px)">
                    <source srcset="./img/Morty-retina.png" media="(min-width: 768px)">
                    <img class="main__character hidden" src="./img/Morty.png" alt="Morty Smith">
                </picture>

                <picture>
                    <source srcset="./img/Summer.png" media="(min-width: 1200px)">
                    <source srcset="./img/Summer-retina.png" media="(min-width: 768px)">
                    <img class="main__character hidden" src="./img/Summer.png" alt="Summer Smith">
                </picture>

                <picture>
                    <source srcset="./img/Beth.png" media="(min-width: 1200px)">
                    <source srcset="./img/Beth-retina.png" media="(min-width: 768px)">
                    <img class="main__character hidden" src="./img/Beth.png" alt="Beth Smith">
                </picture>

                <picture>
                    <source srcset="./img/Jerry.png" media="(min-width: 1200px)">
                    <source srcset="./img/Jerry-retina.png" media="(min-width: 768px)">
                    <img class="main__character hidden" src="./img/Jerry.png" alt="Jerry Smith">
                </picture>

                <ul class="main__list">
                    <li class="main__item">
                        <button class="main__name active">Rick Sanchez</button>
                        <p class="main__desc">Rick Sanchez is a brilliant but deeply troubled scientist and one of the
                            main
                            characters in the animated TV show Rick and Morty. </p>
                        <div class="main__line"></div>

                    </li>
                    <li class="main__item">
                        <button class="main__name">Morty Smith</button>
                        <p class="main__desc">Morty Smith is the other main character in the animated TV show Rick and
                            Morty, and
                            Rick's grandson. </p>
                        <div class="main__line"></div>
                    </li>
                    <li class="main__item">
                        <button class="main__name">Summer Smith</button>
                        <p class="main__desc">Summer Smith is Morty's older sister and one of the main characters in
                            Rick and
                            Morty. Initially portrayed as a typical teenager, she develops into a more complex and
                            independent
                            character, who is intelligent, resourceful, and fiercely loyal to her family.</p>
                        <div class="main__line"></div>
                    </li>
                    <li class="main__item">
                        <button class="main__name">Beth Smith</button>
                        <p class="main__desc">Beth is a horse surgeon, and, as Rick's daughter, she is intelligent if
                            sometimes
                            cold. She is voiced by Sarah Chalke.</p>
                        <div class="main__line"></div>
                    </li>
                    <li class="main__item">
                        <button class="main__name">Jerry Smith</button>
                        <p class="main__desc">Jerry is the husband of Beth Smith, the father of Summer Smith and Morty
                            Smith, and
                            the son-in-law of Rick Sanchez.</p>
                        <div class="main__line"></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="ready">
        <div class="container ready__container">
            <h2 class="ready__title">Ready to<span class="ready__span"> explore </span> the crazy world of Rick and
                Morty?</h2>
            <div class="ready__box">
                <img class="ready__image" src="./img/explore-1.png" alt="">
                <img class="ready__image" src="./img/explore-2.png" alt="">
                <img class="ready__image" src="./img/explore-3.png" alt="">
                <img class="ready__image" src="./img/explore-4.png" alt="">
                <img class="ready__image" src="./img/explore-5.png" alt="">
                <img class="ready__images" src="./img/hero-home.png" alt="">
            </div>
            <a class="ready__link" href="./episodes.html">Episodes</a>
        </div>
    </section>
</main>