      <header>
    <div class="container header__container">
        <ul class="header__links">
          <li> <a href="" class="">Characters</a> </li>
          <li> <a href=""  class="">Episodes</a> </li>        
        </ul>
      <a href="./index.html">
        <img src="./img/logo.png" alt="" class="header__logo" />
      </a>
      <div class="header__search-box">
        <img src="./img/error-photo.png" alt="" class="header__error-img" />
        <p class="header__error-text">
          Oops! Try looking for something else...
        </p>
      </div>  
    </div>
  </header>