  <section class="ready">
    <div class="container ready__container">
      <h2 class="ready__title">
        Ready to<span class="ready__span"> explore </span> the crazy world of
        Rick and Morty?
      </h2>
      <div class="ready__box">
        <img class="ready__image" src="./img/explore-1.png" alt="" />
        <img class="ready__image" src="./img/explore-2.png" alt="" />
        <img class="ready__image" src="./img/explore-3.png" alt="" />
        <img class="ready__image" src="./img/explore-4.png" alt="" />
        <img class="ready__image" src="./img/explore-5.png" alt="" />
        <img class="ready__images" src="./img/hero-home.png" alt="" />
      </div>
      <a class="ready__link" href="./episodes.html">Episodes</a>
    </div>
  </section>